body, #app {
  height: 100%;
}

@font-face {
    font-family: 'Noto Emoji';
    src: url('/NotoColorEmoji.woff') format('woff');
}

.title2 {
	font-size: 1.5rem;
}

.title4 {
	font-size: 1.2rem;
}

.invisible-button {
	padding: 0;
	margin: 0;
	color: transparent;
	background-color: transparent;
}

.actor-profile {
	padding: 1rem;
	background: rgb(155, 155, 123);
	color: #fff;
	margin: 1rem;
	border-radius: 0.2rem;
	width: 400px;
	align-self: center;
}

.emoji {
	font-family: 'Noto Color Emoji';
}

.actor-icon {
	background: rgb(245, 245, 220);
	border-radius: 0.2rem;
	font-size: 128px;
	width: 180px;
	text-align: center;
	position: relative;
}

.actor-is-victim:before {
	content: "❌";
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	opacity: 0.85;
}

.actor-stats {
	margin-left: 1rem; 
	font-size: 20px;
}

.event-log {
	float: right;
	font-size: 14px;
}

.predicate span {
	font-size: 128px;
	display: inline-block;
	margin-left: 1rem;
}

.target-container {
	margin: 1rem;
	border: solid;
	border-width: 4px;
	border-color: #ddd;
	border-radius: 0.5rem;
	min-width: 400px;
	min-height: 250px;
	text-align: center;
}

.remove-button {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
}

.horizontal-row {
	display: flex;
	flex-direction: row; 
	flex-wrap: nowrap;
	justify-content: center;
}

.vertical-row {
	display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-content: space-evenly;
}

.wrap {
	flex-wrap: wrap !important;
}

.opposite {
	display: flex;
	flex-direction: row; 
	justify-content: space-between !important;
}

.question-button {
	margin: 0.5rem;
}

.margin {
	margin: 1rem;
}

.centered {
	text-align: center;
}

.bigger-font {
	font-size: 36px;
}

.question-label {
	font-size: 30px;
	margin-bottom: 0rem;
	font-weight: bold;
	text-align: center;
}

.footer {
  	flex-shrink: 0;
	background-color: #eee;
}

.footer-text {
	padding: 2rem;
	margin-bottom: 0;
}

html, body {
  height: 100%;
}
.body {
	height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.modal-90w {
  width: 90%;
  max-width: none !important;
}
.story-log-json {
  height: 200px;
  width: 100%;
  font-family: monospace;
  font-size: 0.8rem;
  overflow-y: auto;
}

.abs-pred {
	border-radius: 0.5rem;
	background: #eee;
	padding: 0.25rem;
	margin: 0.5rem;
	justify-content: center;
	align-items: center;
}

.abs-pred-kept {
	opacity: 0.5;
	border-radius: 0.5rem;
	background: #eee;
	padding: 0.25rem;
	margin: 0.5rem;
	justify-content: center;
	align-items: center;
}

.simplified-actor {
	font-size: 3rem;
	background: #ddd;
	margin: 0.25rem 0.5rem;
	padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

.predicate-area-editable {
	background: lightblue;
	min-width: 400px;
	max-width: 800px;
	min-height: 150px;
	margin: 1rem 0;
	border-radius: 0.5rem;
	padding: 0.25rem;
}

.predicate-area {
	background: #ddd;
	min-width: 400px;
	max-width: 800px;
	min-height: 50px;
	margin: 1rem 0;
	border-radius: 0.5rem;
	padding: 0.25rem;
}

.predicate-start-area {
	background: #eee;
	margin: 1rem 0;
	border-radius: 0.5rem;
	width: max-content;
}

.actor-drop-area {
	background: lightgoldenrodyellow;
	font-size: 1.5rem;
	margin: 0.2rem;
	padding: 0.5rem;
	border-radius: 0.2rem;
}

.actor-view-only {
	padding: 0.2rem;
	font-size: 1.5rem;
	margin: 0.2rem;
	border-radius: 0.2rem;
}

.empty {
	color: rgba(0, 0, 0, 0.5)
}

.result {
	width: 440px;
   	margin: 0 0.5rem
}

.slider {
	margin: 0 0 1.5rem 1rem;
	width: 400px !important;
}

.add-result {
	margin: 1rem 0.5rem
}

.actor-pick-area {
  background: lightgoldenrodyellow;
	border-radius: 0.5rem;
	padding: 0.5rem;
	max-width: 200px;
}

.predicate-pick-area {
  background: lightblue;
	border-radius: 0.5rem;
	padding: 0.5rem;
	max-width: 800px;
	margin: 0 2rem 0 0;
}

.intro-text {
    columns: 3;
    margin: 1rem 2rem;
}

.pick-rule {
	flex-direction: row;
	display: flex;
	margin: 1rem 2rem;
}

.reward-input {
	min-width: 80px;
	max-width: 80px;
}

.prob-input {
	min-width: 135px;
	max-width: 135px;
}

.input-row .input-group {
	width: auto;
}

.input-row {
	justify-content: space-between;
	display: flex;
	flex-direction: row;
}

.card {
	margin: 0 0 0.5rem 0;
}
